#PreferencesWindow {
    background: #171717;
}

#CalculatorWindow {
    background: #171717;
}

#Grid, #GridBasic{
    background: #171717;
}

#Grid *, #GridBasic * {
    box-shadow: none;
    text-shadow: none;

    color: #cacaca;
    font: 24px "Segoe UI Semibold";
    border-radius: 2px;
}

.light {
    background: #303030;
}

.dark {
    background: #252525;
}

.accent {
    background: lightcoral;
}

#Entry {
    color: #cacaca;
    caret-color: #cacaca;

    font: 24px "Segoe UI";
    background: #252525;
    border-width: 0;
    border-radius: 20px;
}

#Result {
    color: #cacaca;
    font: 48px "Segoe UI Semibold";
}

#CalculatorSwitcher *, #Variables, #Preferences {
    box-shadow: none;
    text-shadow: none;
    color: #cacaca;

    font: 20px "Segoe UI";
    background: #252525;
    border-color: #252525;
    border-width: 3px;
    border-radius: 20px;
}

#CalculatorSwitcher button:checked * {
    background: lightcoral;
}

#CalculatorSwitcher button:checked {
    background: lightcoral;
    border-color: lightcoral;
}

#TreeWindow {
    background: #171717;
    border-width: 0;
}

#TreeWindow * {
    border-width: 3px;
    border-color: #171717;
}

#TreeWindow *:selected {
    color: #cacaca;
    background: #252525;
    border-color: lightcoral;
}

#Tree header * {
    background: #252525;
    font: 20px "Segoe UI";
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 3px;
    border-bottom-color: lightcoral;
}

#Tree {
    background: #171717;
    font: 20px "Segoe UI";
}

#Tree * {
    border-width: 0;
}

#DeleteButton, #AddButton {
    color: #cacaca;

    border-radius: 0;
    background: #252525;
    font: 24px "Segoe UI";
}
