#PreferencesWindow {
    background: white;
}

#CalculatorWindow{
    background: #e6e6e6;
}

#Grid, #GridBasic {
    background: #eaeaea;
}

#Grid *, #GridBasic * {
    font: 22px "Segoe UI Semibold";
    border-radius: 2px;
}

.light{
    background: #fafafa;
}

.dark{
    background: #f0f0f0;
}

.accent{
    background: lightcoral;
}

#Entry {
    font: 24px "Segoe UI";
    background: #fafafa;
    border-width: 0;
    border-radius: 20px;
}

#Result {
    font: 48px "Segoe UI Semibold";
}

#CalculatorSwitcher *, #Variables, #Preferences {
    font: 20px "Segoe UI";
    background: #fafafa;
    border-color: #fafafa;
    border-width: 3px;
    border-radius: 20px;
}

#CalculatorSwitcher button:checked * {
    background: lightcoral;
}
#CalculatorSwitcher button:checked {
    background: lightcoral;
    border-color: lightcoral;
}

#TreeWindow {
    background: #e6e6e6;
    border-width: 0;
}

#TreeWindow *:selected {
    color: black;
    background: #f0f0f0;
}

#Tree header * {
    background: #fafafa;
    font: 20px "Segoe UI";
    border-radius: 0;
}

#Tree {
    background: #e6e6e6;
    font: 20px "Segoe UI";
}

#DeleteButton, #AddButton {
    font: 24px "Segoe UI";
}

